* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #3b3759;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  color: #fdacc7;
}

.active {
  background: #480a23;
  color: #aa5377;
}

i,
svg,
path {
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: #480a23;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #bb2664;
  border-radius: 3px;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__text {
  font-weight: 500;
  font-size: 55px;
  line-height: 75px;
  letter-spacing: 0.045em;
  text-align: center;
  padding-top: 18px;
  text-transform: capitalize;
}

.money {
  width: 1050px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin: 90px 0 110px;
  padding: 0 15px;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.045em;
  z-index: 1;
}

.money .balance {
  margin-bottom: 41px;
}

.money .circulation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.money .circulation .income {
  width: 147px;
  text-align: center;
}

.money .circulation .expense {
  width: 165px;
  text-align: center;
}

.menu {
  z-index: 1;
  width: 100%;
  height: 100%;
  max-height: 477px;
  background: #aa5377;
  border-radius: 80px 80px 0px 0px;
  padding-bottom: 10px;
}

.menu__container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.menu__arrow {
  display: none;
}

.menu__filter {
  height: 48px;
  margin-top: 15px;
}

.menu__filter .filter__btn {
  border: none;
  background: #7d3c57;
  margin: 0;
  height: 100%;
  color: #3f212d;
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.045em;
  transition: background 0.3s, color 0.3s;
}

.menu__filter .filter__btn.active {
  background: #480a23;
  color: #aa5377;
}

.menu__filter .filter__btn-all {
  width: 182px;
  max-width: 100%;
  border-radius: 35px 0 0 35px;
  padding: 0 71px 0 57px;
  border-right: 1px solid #480a23;
}

.menu__filter .filter__btn-income {
  width: 230px;
  max-width: 100%;
  border-right: 1px solid #480a23;
}

.menu__filter .filter__btn-expense {
  width: 240px;
  max-width: 100%;
  border-radius: 0 35px 35px 0;
}

.menu__filter .filter__btn:hover {
  background: #480a23;
  color: #aa5377;
}

.menu__list {
  width: 100%;
  min-height: 100px;
  max-height: 140px;
  overflow: hidden;
}

.menu__list:hover {
  overflow-y: auto;
}

.menu__li {
  display: flex;
  justify-content: space-between;
  color: #3f212d;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #7d3c57;
}

.menu__li .category {
  flex: 1;
}

.menu__li .category,
.menu__li .amountAndType .amount {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.045em;
}

.menu__li .amountAndType {
  display: flex;
  align-items: center;
}

.menu__li .amountAndType .amount {
  margin-right: 15px;
}

.menu__li .amountAndType .type {
  font-size: 16px;
  letter-spacing: 0.045em;
  padding: 3px 14px;
  border: 1px solid #3f212d;
  border-radius: 20px;
  text-transform: capitalize;
}

.menu__li .aditional {
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.menu__li .aditional .delete {
  margin: 0 5px;
}

.menu__inputs {
  display: flex;
  align-items: center;
  height: 40px;
  max-width: 100%;
}

.menu__inputs .input,
.menu__inputs .circulation__select,
.menu__inputs .add__button {
  border: none;
  max-width: 100%;
  height: 100%;
  padding: 20px 14px;
  background-color: #7d3c57;
  color: #3f212d;
  letter-spacing: 0.045em;
  font-weight: 300;
  font-size: 24px;
}

.menu__inputs .input__category {
  width: 1024px;
  border-radius: 35px 0 0 35px;
  border-right: 1px solid #480a23;
}

.menu__inputs .input__cost {
  width: 369px;
  border-right: 1px solid #480a23;
}

.menu__inputs .input::-moz-placeholder {
  color: #3f212d;
}

.menu__inputs .input:-ms-input-placeholder {
  color: #3f212d;
}

.menu__inputs .input::-ms-input-placeholder {
  color: #3f212d;
}

.menu__inputs .input::placeholder {
  color: #3f212d;
}

.menu__inputs .input__category,
.menu__inputs .input__cost,
.menu__inputs .circulation__select,
.menu__inputs .add__button {
  max-width: 100%;
}

.menu__inputs .circulation__select {
  padding: 0;
}

.menu__inputs .add__button {
  padding: 7px 20px;
  border-radius: 0 35px 35px 0;
  border-left: 1px solid #480a23;
}

.hide {
  display: none;
}

@media (max-width: 850px) {
  .menu__inputs .input__cost {
    width: 125px;
  }
}

@media (max-width: 725px) {
  .menu__filter .filter__btn-all {
    width: 130px;
  }

  .menu__filter .filter__btn-income {
    width: 180px;
  }

  .menu__filter .filter__btn-expense {
    width: 190px;
  }

  .menu__inputs .input__category {
    width: 230px;
  }
}

@media (max-width: 600px) {
  .logo__text {
    width: 152px;
    font-size: 38px;
    line-height: 50px;
    letter-spacing: 0.045em;
  }

  .money {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .money .balance {
    margin-bottom: 15px;
    font-size: 42px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.045em;
  }

  .money .circulation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .money .circulation .income {
    margin-bottom: 25px;
  }

  .money .circulation .income,
  .money .circulation .expense {
    width: auto;
    font-size: 42px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.045em;
  }

  .menu {
    border-radius: 50px 50px 0px 0px;
    transform: translateY(85%);
    transition: transform 0.3s;
  }

  .menu.active {
    transform: translateY(0);
  }

  .menu__arrow {
    display: block;
    padding: 5px 0;
    transition: transform 0.3s;
  }

  .menu__arrow.active {
    transform: rotate(90deg);
  }

  .menu__arrow:hover {
    cursor: pointer;
  }

  .menu__filter {
    margin-top: 20px;
    height: 30px;
  }

  .menu__filter .filter__btn {
    font-size: 18px;
    line-height: 21px;
  }

  .menu__filter .filter__btn-all {
    width: 77px;
    padding: 0 24px;
  }

  .menu__filter .filter__btn-income {
    width: 98px;
  }

  .menu__filter .filter__btn-expense {
    width: 108px;
  }

  .menu__inputs {
    height: 30px;
  }

  .menu__inputs .input,
  .menu__inputs .circulation__select,
  .menu__inputs .add__button {
    font-size: 14px;
    line-height: 16px;
  }

  .menu__inputs .input__category {
    width: 160px;
    padding: 15px;
  }

  .menu__inputs .input__cost {
    width: 56px;
    padding: 15px;
  }

  .menu__inputs .circulation__select {
    width: 73px;
  }

  .menu__inputs .add__button {
    width: 50px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (max-width: 850px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 725px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 600px){

@supports (-webkit-appearance:none){

}

}
